# {{ ansible_managed }}
[Unit]
Description=Kartel Status service
After=network.target

[Service]
PIDFile=/run/gunicorn/status
User=gunicorn
Group=gunicorn
Environment="CONFIG=/opt/kartel/services/status/config/status_{{ inventory_dir.split('/')[-1] }}.yaml"
WorkingDirectory=/opt/kartel/
PrivateTmp=true
ExecStart=/usr/bin/gunicorn-3.6 \
        --pid /run/gunicorn/status \
        --bind=0.0.0.0:8001 \
        --workers=2 \
        --worker-class=aiohttp.GunicornWebWorker \
        --worker-connections=20 \
        --graceful-timeout=5 \
        --max-requests=5000 \
        --timeout=30 \
        --log-level=info \
        --capture-output \
        --access-logfile=/var/log/kartel/status/access.log \
        --error-logfile=/var/log/kartel/status/error.log \
        services.status.wsgi:app

[Install]
WantedBy=multi-user.target
